<!doctype html>
{% load static %}
<style>
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 15px;
}
</style>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>Player login</title>
</head>

<body>
	<div class="container">
		
		<form class="form-signin" method="POST" action="{% url 'player_login' %}" id="loginForm">
			{% csrf_token %}
			<h2 class="form-signin-heading text-center">Welcome!</h2>
			{% if playerDoesNotExist %}
				<div class="form-group has-error"><div class="help-block">{{ playerDoesNotExist }}</div></div>
			{% endif %}
			{% if loginForm.errors %}
				<div class="form-group has-error"><div class="help-block">{{ loginForm.username.errors }}</div></div>
			{% endif %}
			{{ loginForm.username }}
			{% if loginForm.errors %}
				<div class="form-group has-error"><div class="help-block">{{ loginForm.password.errors }}</div></div>
			{% endif %}
			{{ loginForm.password }}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
	
</body>
